<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/locations/edit.css">
<%- include('../partials/nav') %>




<div class="edit-location-container">
<section>
  <div class="edit-location-card">
  <h1>Edit the Location!</h1>
  <form action="/locations/<%= location._id %>?_method=PUT" method="POST">
    <label>
      Name: 
      <input 
        type="text"
        name="name" 
        value="<%= location.name %>" 
        autocomplete="off"
      >
    </label>
    <button type="submit">Edit the location!</button>
  </form>
</div>
</section>
</div>




<%- include('../partials/footer') %>