<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<h1><%= title %></h1>

<main>
  <h1>The Travel Journal!</h1>
  <h2>"Traveling - it leaves you speechless, then turns you into a storyteller." -Ibn Battuta</h2>
  <h3>Click on the location to view the traveler's adventure</h3>
  <ul>
    <% locations.forEach(location => { %>
      <li>
        <a href="/locations/<%= location._id %>"><%= location.name %></a> 
      </li>
    <% }) %>
  </ul>




</main>


<%- include('../partials/footer') %>