<%- include('../partials/html-head') %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Sedan:ital@0;1&display=swap" rel="stylesheet">
<%- include('../partials/nav') %>


<h1><%= title %></h1>

<div class="main-container">
  <main>
    <h1>The Travel Journal!</h1>
    <h2>"Traveling - it leaves you speechless, then turns you into a storyteller." -Ibn Battuta</h2>
    <h3>Click on the location to view the traveler's adventure</h3>
    <div class="location-container">
    <% locations.forEach(location => { %>
    <div class="location-card">
      <p>
        <a href="/locations/<%= location._id %>"><%= location.name %></a> 
      </p>
    </div>
    <% }) %>
    </div>
  </main>
</div>

<%- include('../partials/footer') %>