<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/locations/show.css">
<%- include('../partials/nav') %>



<h1>The Travel Journal</h1>

<div class="location-container">

  <div class="location-card">
    <h2> <%= location.name %></h2>
    <img src="<%= location.photo %>" alt="location image">
    <p> <%= location.content %></p>


<div class="comment-container">
  <form method="POST" action="/locations/<%= location._id %>/comments">
    <textarea type="text" name="content" placeholder="Leave a comment..."></textarea><br><br>
    <button type="submit" class="comment-button">Add Comment</button>
  </form>
</div>


  </div>
</div>



<%- include('../partials/footer') %>