<%- include('./partials/html-head') %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Sedan:ital@0;1&display=swap" rel="stylesheet">
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
<%- include('./partials/nav') %>

<main>
  <div class="login-container">
    <h1>The Travel Journal</h1><br>
    <p id="plane" class="animate__animated animate__lightSpeedOutRight">🛫</p>
  <h2>"Traveling - it leaves you speechless, then turns you into a storyteller."  -Ibn Battuta</h2>
  <h1>Hi <%= user ? user.profile.name : "Friend!" %></h1>
  <% if (user?.profile.avatar) { %>
    <h3>You're logged in! Explore and journal your travels!</h3>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
  <% if (!user) { %>
    <h2>Login to add your adventure!</h2>
  <% } %>
</div>
</main>

<%- include('./partials/footer') %>
